*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    padding: 0 .4em;
    background-color: rgba(0, 255, 255, 0.156);
}





a{
    text-decoration: none;
    color: black;
}



a:hover{
    color: #3C4048;
    transition: 0.3s;
}

.notice{
    background-color: #fe0000e2;
    color: #fff;
    padding: 1em .5em;
    font-size: 1.25em;
    border-radius: 15px;
    border: none;
    width: 95%;
    position: relative;
    left: 2rem;
    overflow: hidden;
}
.notice h1{
    text-align: center;
    font-size: 3em;
}
.notice-text{
    font-size: 1.3em;
    line-height: 2rem;
}
.NAN-link:hover{
    text-decoration: line-through;
}

.notice h1:hover{
    transform: scale(1.2);
    padding-bottom: .2em;
    transition: 0.5s;
}
.notice h1::after{
    transition: 0.9s;
}
.content{
    padding: .9rem;
}
.content h2{
    text-align: center;
}

.content{
    width: 95%;
    position: relative;
    left: 2rem;
    
}

.imgone,.imgtwo,.imgthree,.imgfour,.imgfive,.imgsix,.imgseven{
    width: 1200px;
    height: 630px;
    border-radius: 15px;
    border: none;
}
.imgthree{
    height: 100%;
}
span{
    font-weight: bold;
}

.logo{
    display: flex;
    padding-top: .5rem;
    margin-bottom: .4rem;
}

.logo img{
    filter:hue-rotate(0deg);
    filter:grayscale(0);
}
.logo h2{
    color: #FE0000;
    font-weight:900;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2em;
    
}
.logo h2 img{
    filter:hue-rotate(0deg);
    filter:grayscale(0);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.p-text{
    width: 100%;
    padding: .3em 0 0;
    line-height: 1.4em;
    font-size: 1.18em;
}

.content h2{
    font-size: 1.9em;
    padding-top: .5rem;
}
.content h3{
    font-size: 1.7em;
    padding-top: .5rem;
}
.content h4{
    font-size: 1.3em;
    padding-top: .5rem;
}
.content h5{
    font-size: 1.2em;
    padding-top: .5rem;
}

.content ul{
    padding: .6em 0 0;
}
.content ul li{
    padding: .15em 0 0;
    font-size: 1.18em;
    line-height: 1.2em;
    width: 100%;
}

.part-3 li{
font-weight: bold;
}
.part-4 li{
    font-weight: bold; 
}

.img{
    padding: .8em;
}
body{
    position: relative;
}
.top-arrow{
    position: absolute;
    bottom: 2.2rem;
    right: 1rem;
    
}
.top-arrow:hover{
    transform: scale(2);
}
@media only screen and (max-width: 600px) {
    .logo{
        display: flex;
        justify-content:flex-start;
        gap: .9rem;
        align-items: center;
        padding-left: .3rem;
    
    }

    .logo h2{
        font-size: 1.2em;
        flex-direction: column;
        gap: .2rem;
        padding-bottom: .7rem;
        
    }

    
    .notice{
        width: 100%;
        position: unset;
    }
    .imgone,.imgtwo,.imgthree,.imgfour,.imgfive,.imgsix,.imgseven{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: none;
        
    }
    .p-text{
        
        padding: .6em 0;
        
    }
    .top-arrow{
        
        bottom: 1.3rem;
 
    }
    .content{
        width: 100%;
        position: relative;
        left: 0;
        
    }
  }


  @media only screen and (max-width: 900px){
    .imgone,.imgtwo,.imgthree,.imgfour,.imgfive,.imgsix,.imgseven{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: none;
        
    }
  }  